.contact {
  display: flex;
  gap: 78px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 54px;
  padding: 0 1em;

  @media only screen and (min-width: 768px) {
    padding: 0 2em;
  }
}

.mapWrapper {
  width: 634px;

  p {
    padding-bottom: 1em;

    span {
      display: block;
    }

    &:first-child {
      padding-top: 1em;
    }
  }
}

.map {
  width: 100%;
  max-width: 606px;
  height: 422px;
  position: relative;
}

.formSide {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;

  > p {
    font-style: normal;
    font-weight: 400;
    margin-bottom: 47px;
  }
}

.inputWrapper {
  margin-top: 47px;

  > div {
    background: #ffffff;
    height: 2px;
    width: 100%;
    margin-top: 8px;
  }

  input,
  textarea {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    width: 100%;
    font-family: "aeonik-regular";
    padding: 0 20px;

    &::-webkit-input-placeholder {
      color: #979797;
    }

    &:-ms-input-placeholder {
      color: #979797;
    }

    &::placeholder {
      color: #979797;
    }

    &:focus {
      + div {
        background-color: #e9483b;
      }
    }
  }

  textarea {
    height: 173px;
  }
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
