.select {
  background: #d9d9d9;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  text-align: center;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-right: 30px;
  color: #e9483b;
  height: 2rem;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
    height: 55px;
  }
}
