.customButton {
  width: 100%;
  max-width: 120px;
  height: 42px;
  border: none;
  background: transparent;
  background: #d9d9d9;
  border-radius: 5px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear;

  @media only screen and (min-width: 600px) {
    max-width: 186px;
    height: 62px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 9px;
  }

  span {
    position: relative;
  }

  &::before {
    position: absolute;
    content: "";
    width: 120%;
    height: 200%;
    left: -10%;
    top: 100%;
    background: #e9483b;
    border-radius: 50%;
    z-index: 0;
    transition: all 0.3s linear;
  }

  &:hover {
    color: #ffffff;
    transition: all 0.3s linear;

    &::before {
      top: -50%;
      border-radius: 10px;
      transition: all 0.3s linear;
    }
  }
}

.secondaryCustomButton {
  border: none;
  background: transparent;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #e9483b;
  background: #ffffff;
  border-radius: 6px;
  padding-left: 30px;
  padding-right: 30px;
  height: 55px;

  &:hover {
    color: #ffffff;
    background: #e9483b;
  }
}

.secondaryCustomButtonActive {
  color: #ffffff;
  background: #e9483b;
}
