.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  border-bottom: 1px solid #979797;

  @media only screen and (min-width: 550px) {
    padding: 18px 32px;
  }

  @media only screen and (min-width: 769px) {
    padding: 18px 65px;
  }
}

.navbarFixed {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background: #000000;
  box-shadow: 0 0 3px #ffffff;
}

.menuButton {
  border: none;
  background: transparent;
  cursor: pointer;

  i {
    display: block;
    width: 43.15px;
    height: 2.78px;
    background: #e9483b;
    border-radius: 4px;
    margin-bottom: 8.35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  bottom: 0;
  background-color: #000000;
  overflow-y: auto;
  right: -100%;
  transition: right 0.5s ease;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 0 2em;

  a {
    text-decoration: none;
    font-family: "aeonik-bold";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    text-transform: uppercase;
    color: #e9483b;
    display: block;
    width: fit-content;
    opacity: 0;

    @media only screen and (min-width: 1024px) {
      font-size: 48px;
      line-height: 49px;
    }
  }
}

.menuClose {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;

  @media only screen and (min-width: 1024px) {
    margin: 51px;
  }
}

.show {
  right: 0;
  transition: right 0.5s ease;

 a {
    opacity: 1;
    transition: all 0.5s linear;
  }
}
