.heading {
  font-family: "aeonik-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 31px;
  text-transform: uppercase;
  color: #e9483b;

  @media only screen and (min-width: 1024px) {
    font-size: 48px;
    line-height: 49px;
  }
}

.pageHeading {
  font-family: "aeonik-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 31px;
  text-transform: uppercase;
  color: #ffffff;

  @media only screen and (min-width: 1024px) {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 15px;
  }
}
