.modalImage {
  width: 387px;
  height: 350px;
  overflow: hidden;
  border-radius: 5px;

  @media only screen and (min-width: 500px) {
    height: 450px;
  }
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;

  @media only screen and (min-width: 768px) {
    gap: 142px;
  }
}

.text {
  max-width: 420px;

  h6 {
    font-family: "aeonik-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 1em;
    text-transform: capitalize;
    color: #ffffff;
  }

  p {
    font-family: "aeonik-regular";
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
  }
}

.modalTitle {
  letter-spacing: 0.56rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
  max-width: 80rem;
  padding: 2.5rem 1em;
  margin: auto;

  @media only screen and (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 2em;
  }

  @media only screen and (min-width: 1024px) {
    padding: 96px 2em;
  }

  > div {
    cursor: pointer;
  }
}

.navButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0;
}

.singleImage {
  position: relative;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.3);

  @media only screen and (min-width: 768px) {
    height: 450px;
  }
}

.singleTitle {
  font-family: "aeonik-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 1em;

  @media only screen and (min-width: 768px) {
    font-size: 26.4336px;
  }
}

.singlePosition {
  font-family: "aeonik-regular";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.count {
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  height: 100%;
  top: 0;
  background-color: rgba(#000000, 0.8);
}

.trailerWrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column-reverse;
  max-width: 82.35rem;
  min-height: 31.25rem;
  margin: 60px auto;
  padding: 15px;
  background: #d9d9d9;
  text-align: center;

  @media only screen and (min-width: 768px) {
    gap: 50px;
  }

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    border-radius: 14px;
    text-align: left;
  }

  > div {
    width: 100%;

    &:nth-of-type(2) {
      max-width: 800px;

      @media only screen and (min-width: 1024px) {
        max-width: 28rem;
      }

      p {
        margin-top: 2em;
        color: #000000;
      }
    }
  }
}

.noMarginTop {
  margin-top: 0;
}

.border {
  border: 1px solid #bbb;
}

.buttonWrapper {
  margin: 1em 0;
}

.arrow {
  border: none;
  background-color: transparent;
  margin-right: 1em;
  margin-top: 2em;
  cursor: pointer;
}
