.footer {
  max-width: 1114px;
  margin: 3rem auto;
  padding: 0 1em;

  @media only screen and (min-width: 768px) {
    padding: 0 2em;
    margin: 120px auto;
  }

  @media only screen and (min-width: 1114px) {
    padding: 0;
  }

  a {
    text-decoration: none;
    display: block;
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    color: #ffffff;

    &:hover {
      text-decoration: underline;
      color: #e9483b;
    }
  }
}

.logo {
  margin-bottom: 16px;
}

.content {
  display: flex;
  // justify-content: space-between;
  gap: 3rem;
  flex-direction: column;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    gap: 20rem;
  }
}

.description {
  max-width: 285px;

  p {
    font-weight: 400;
    margin-bottom: 40px;
  }
}

.sideLinks {
  display: flex;
  align-items: flex-start;
  gap: 1.4rem;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    gap: 5rem;
  }
}

.title {
  margin-bottom: 13px;
  font-weight: 400;
  color: #e9483b;
}

.address {
  max-width: 192px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  a {
    margin: 0;
  }
}
