.header {
  padding: 0 1em;

  @media only screen and (min-width: 768px) {
    padding: 0 2em;
  }

  > div {
    max-width: 1079px;
    text-align: center;
    margin: 30px auto;

    @media only screen and (min-width: 1024px) {
      margin: 104px auto;
    }

    p {
      font-family: "aeonik-regular";
      font-style: normal;
      font-weight: 400;
      margin-top: 26px;
    }
  }
}

.headerListWrapper {
  max-width: 1024px;
  padding: 2em 2em 4em 2em;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.headerList {
  text-align: left;
  margin-top: 2em;

  // @media only screen and (min-width: 768px) {
  //   display: inline-block;
  //   width: 50%;
  // }

  p {
    color: #fff;
    font-family: "aeonik-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;

    @media only screen and (min-width: 501px) {
      font-size: 18px;
      line-height: 33px;
    }

    @media only screen and (min-width: 768px) {
      margin-top: 26px;
    }
  }
}

.wrapper {
  border-bottom: 1px solid #979797;
}

.tabs {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px;

  button {
    display: none;
    @media only screen and (min-width: 768px) {
      display: inline;
    }
  }

  select {
    display: inline;
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}

.colorRed {
  color: #e9483b;
}
