.header {
  padding: 0 1em;

  @media only screen and (min-width: 768px) {
    padding: 0 2em;
  }

  > div {
    max-width: 1079px;
    text-align: center;
    margin: 30px auto;

    @media only screen and (min-width: 1024px) {
      margin: 104px auto;
    }

    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      margin-top: 26px;
    }
  }
}

.headerList {
  text-align: left;
  margin-top: 2em;

  @media only screen and (min-width: 768px) {
    display: inline-block;
    width: 50%;
  }

  li {
    color: #fff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
    list-style-position: inside;

    @media only screen and (min-width: 501px) {
      font-size: 18px;
      line-height: 33px;
    }

    @media only screen and (min-width: 768px) {
      margin-top: 26px;
    }
  }
}

.wrapper {
  border-bottom: 1px solid #979797;
}
